body
  background: #fafafa
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #444
  padding: 40px


#display
  margin-top: 100px

.settings
  background-color: #eee
  padding: 40px

clock-display
  display: flex
